.button {
	border-radius: 29px;
	font-style: normal;
	font-weight: 400;
	cursor: pointer;
	transition: background 0.25s;
	border: none;
	color: var(--white-color);
}

.small {
	font-size: 16px;
	padding: 10px 25px;
}

.big {
	font-size: 15px;
	text-transform: uppercase;
	padding: 20px 60px;
}

.accent:hover {
	background: var(--primary-color);
}

.accent {
	background: var(--primary-hover-color);
}
